# User-specific stuff
.idea/
run/
.gradle/
plugin/dependency-reduced-pom.xml
mongo-connector/dependency-reduced-pom.xml

# Test Sources
**/src/test

# Compiled files
**/out
**/target
*.class
*.jar
*.iml
build/